.title {
    text-align: center;
    margin: auto;
}

.button_pad {
    text-align: center;
    margin: auto;
}

.display{
    height: 50px;
    width: 200px;
    margin: auto;
    text-align: center;
    border: solid black;
}

.clicked{
    background-color: grey;
}